.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 10px;
  width: 580px;
  height: 720px;
}

.left {
  width: 100%;
  max-height: 94%;
  background-color: #e6e6e6;
  margin: 20px;
  flex: 1;
  padding: 25px;
}

.right {
  width: 280px;
  max-height: 94%;
  margin: 20px;
  flex: 1;
  padding: 20px 0px 20px 0px;
}

@media (max-width: 550px) {
  .app > * {
    width: 400px;
  }
  
}
